 <footer class="z-50" style="background-color:#1E0A3C" aria-labelledby="footerHeading">
      <h2 id="footerHeading" class="sr-only">Footer</h2>
      <div class="max-w-md mx-auto px-4 sm:max-w-7xl sm:px-6 lg:pt-10 lg:px-8">
        <div class="xl:grid xl:grid-cols-2 xl:gap-8">
          <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-sm text-gray-400">
                  Solutions
                </h3>
                <ul class="mt-4 space-y-1">
                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Marketing
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Analytics
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Commerce
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Insights
                    </div>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm text-gray-400 tracking-wider">
                  Support
                </h3>
                <ul class="mt-4 space-y-1">
                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Pricing
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Documentation
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Guides
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      API Status
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-sm text-gray-400 tracking-wider">
                  Company
                </h3>
                <ul class="mt-4 space-y-1">
                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      About
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Blog
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Jobs
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Press
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Partners
                    </div>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm text-gray-400 tracking-wider">
                  Legal
                </h3>
                <ul class="mt-4 space-y-1">
                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Claim
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Privacy
                    </div>
                  </li>

                  <li>
                    <div class="text-sm text-gray-500 cursor-not-allowed">
                      Terms
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-8 py-8">
          <p class="text-xs text-gray-400 text-center">
          &copy; @DateTime.Now.Year Company, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </footer>


    @code {
       
    }