@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<TopNavigationBar />
<BlazoredToasts Position="ToastPosition.BottomRight" />

<main class="flex flex-col h-screen">
    @Body
<Footer />
</main>
