<header class="text-gray-700 z-50">
    <div class="bg-white pt-4 pb-4">
        <nav class="relative mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
            <div class="flex items-center flex-1">
                <div class="flex items-center justify-between w-full md:w-auto cursor-pointer">
                    <NavLink href="/">Stripe Events</NavLink>

                    <div class="-mr-2 flex items-center md:hidden">
                        <button type="button"
                                class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
                                aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                        </button>
                    </div>
                </div>
                <div class="md:flex md:ml-6 w-2/4">

                    <input type="search" placeholder="Search Events" class="
                            inline-flex items-center w-full px-3 text-base                            
                            text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300                            
                            m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"/>

                </div>
            </div>
            <AuthorieView>
                <NotAuthorized>
                    <div class="hidden md:flex md:items-center md:space-x-6 text-gray-500 text-sm font-semibold">
                        <NavLink href="/Signin" class="cursor-pointer inline-flex items-center py-2">
                            Sign in
                        </NavLink>
                    </div>
                </NotAuthorized>
                <Authorized>
                    
                </Authorized>

            </AuthorieView>
        </nav>
    </div>
</header>